@import "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --green: #4af626;
}

* {
  color: var(--green);
  font-family: "courier new";
}

body {
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: black;
}
